<p id="notice"><%= notice %></p>

<h1>物件一覧</h1>

<table>
  <thead>
    <tr>
      <th>物件名</th>
      <th>賃料</th>
      <th>住所</th>
      <th>築年数</th>
      <th>備考</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.house_name %></td>
        <td><%= house.rent %></td>
        <td><%= house.street_address %></td>
        <td><%= house.house_age %></td>
        <td><%= house.remarks %></td>
        <td><%= link_to '詳細', house %></td>
        <td><%= link_to '編集', edit_house_path(house) %></td>
        <td><%= link_to '削除', house, method: :delete, data: { confirm: '本当に削除していいですか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '物件を登録する', new_house_path %>
