<p id="notice"><%= notice %></p>
<p>
  <strong>物件名:</strong>
  <%= @house.house_name %>
</p>
<p>
  <strong>賃料:</strong>
  <%= @house.rent %>
</p>
<p>
  <strong>住所:</strong>
  <%= @house.street_address %>
</p>
<p>
  <strong>築年数:</strong>
  <%= @house.house_age %>
</p>
<p>
  <strong>備考:</strong>
  <%= @house.remarks %>
</p>
<% n = 0 %>
<% @house.stations.each do |station| %>
<br>
  <%= "最寄り駅#{n += 1}" %>
  <%= "最寄り名" %>
  <%= station.route_name %>
<% end %>
<br>
<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>